<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.hdh.d_database.mapper.DepartmentMapper">

    <resultMap id="BaseResult" type="pers.hdh.d_database.dataobject.Department">
        <id column="department_id" property="id" jdbcType="INTEGER" />
        <id column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getById" resultMap="BaseResult">
        SELECT `department_id`, `name` FROM `department` WHERE `department_id` = #{id}
    </select>

</mapper>